* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 20px 30px;
}


@media (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 6vw;
    }
}

.audio_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.game-trilha {
    border-radius: 10px;
    margin-left: -15px;
}

.points {
    font-size: 30px;
    padding: 10px 20px;
    display: flex;
}

.link {
    text-decoration: none;
    color: #fff;
    border: 2px solid #000;
    padding: 10px;
    cursor: pointer;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.score-div {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.game-over {
    font-size: 30px;
    color: red;
    display: none;
    padding: 10px 20px;
}

.link:active {
    box-shadow: inset -4px 4px 0 #222;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pokeball {
    position: absolute;
    bottom: 0;
    width: 150px;
    animation: pokeball-animation 1.2s infinite linear;
}

.pokemon {
    width: 150px;
    bottom: 0px;
    position: absolute;
}

.jump {
    animation: jump 500ms ease-out;
}

.nuvem {
    position: absolute;
    width: 550px;
    animation: nuvem-animation 10s infinite linear;
}

@keyframes pokeball-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes nuvem-animation {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}
